@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Vazirmatn", sans-serif;
}

a {
    color: #0C2DDB;
}

li {
    margin-right: 14px;
}

ul{
    list-style-type: none;
}

button {
    cursor: pointer;
    font-size: 20px;
}

nav{
    border-bottom: 2px solid #C9D7F1ed;
    font-size: 16px;
}

footer{
    font-size: 16px;
}

input{
    width: 50%;
    float:;
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noUnderline {
    text-decoration: none;
}

.menuDoFootter {
display: flex;
flex-direction: row;
justify-content: center;
text-decoration: none;
padding-top: 10%;
}

.buttons {
    margin: 10px;
}

.button1 {
    font-weight: 500;
    width: 145px;
    background-image: linear-gradient(to bottom,#F1F1F1, #E0E0E0);
    border: 0.5px;
    box-shadow: 0.5px 0.5px 0.5px black;
}

.button2 {
    font-weight: 500;
    background-image: linear-gradient(to bottom,#F1F1F1, #E0E0E0);
    width: 175px;
    border: 0.5px #F8F8F8;
    box-shadow: 0.5px 0.5px 0.5px black;
}

.privacy {
display: flex;
flex-direction: row;
justify-content: center;
margin: 10px
}

.year {
font-size: 14px;
}

.barras {
    align-items: center;
    padding-right: 10px;
    padding-left: 0px;
}

.tabSup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.tabSupEsq {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabSupDir {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonArrow {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 0px;
    background-color: transparent;
}

.arrow {
    width: 20px;
    height: 14px;
}

.more {
    display: inline-block;
}

.buttonArrow{
    display: inline-block;
}

.logoGoogle{
width: 27%;
margin: 45px;
}
